[Unit]
Description=Evanesco Miner Service
After=network.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=xxx
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=xxx/runminernnn
StandardOutput=append:zzz

[Install]
WantedBy=multi-user.target
